.pokemon-card {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  flex: 0 0 46%;
}

.search-div {
  width: inherit
}

#no-results-message {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

#no-results-message.show {
  opacity: 1;
  transform: translateY(0);
}

.pokemon-card.show {
  opacity: 1;
  transform: translateY(0);
}

@media (width >= 48rem) {
  .pokemon-card {
    flex: 0 0 31%;
  }

  .black-div {
    flex-direction: row;
  }

  .search-div {
    max-width: 600px;
  }

  .search-info {
    max-width: 500px;
  }
}

@media (width >= 64rem) {
  .pokemon-card {
    flex: 0 0 22%;
  }
}
